button {
    background: none;
    border: 0;
    color: inherit;
    cursor: default;
    font: inherit;
    line-height: inherit;
    text-decoration: none;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}
