//Typography

//mobile
$h1: 28px;
$h2: 24px;
$h3: 18px;
$body_text: 16px;

//desktop
$h1d: 40px;
$h2d: 32px;
$h3d: 26px;
$body_text_d: 26px;

$bold: 800;

// Breakpoints
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$small: $sm;
$medium: $md;
$large: $lg;
$xlarge: $xl;