//Typography
$headings: 'Poppins', sans-serif;
$body: 'Roboto', sans-serif;

//Colors
$on_blue: #FFF;
$head_on_white: #191c1e;
$body_on_white: #a0a6ad;
$body_link: #3c9cfd;
$button_title: #dbecff;
$gradient: -webkit-linear-gradient(0deg,#3c96ff 0%,#2dfbff 100%);

//mobile
$h1: 28px;
$h2: 24px;
$h3: 18px;
$body_text: 16px;

//desktop
$h1d: 40px;
$h2d: 32px;
$h3d: 26px;
$body_text_d: 26px;

$bold: 800;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$small: $sm;
$medium: $md;
$large: $lg;
$xlarge: $xl;